body {
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

details {
  font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-size: 40 px;
    font-weight: 500;
    font-style: normal;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

.image-container {
display: flex;
justify-content: center;
gap: 20px;
}

.w-100{
    width: 100%;
}

.inter-title {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
p{
    font-size: 24px;
    line-height: 34px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    
}

h1 {
    font-size: 76px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-family: "Inter", serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 400;
}

.office-wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    background-color: rgb(0, 0, 0);
    padding: 50px;
}

.office-img {
    width: 40%;
    align-content: center;
}

.office-text {
    width: 60%;
}


.cities-section {
    margin-top: 120px;
}

.london-links a {
    color: red;
    background-color: transparent;
}

.text-color {
  color: black;
}

/* ----------------------CODE FOR THE NAVBAR--------------------------- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #BC9845;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #FFFFFF;
    color: #BC9845;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #E8B954;
    color: #FFFFFF;
  }

  /* ----------------------CODE FOR THE NAVBAR--------------------------- */


/* ----------------------CODE FOR THE HEADER--------------------------- */
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("test.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* ----------------------CODE FOR THE HEADER--------------------------- */
